/* 
.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
} */

a {
  text-decoration: none;
  color: #37474E;
}

.activeLink {
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 250, 244, 1);
}